@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
      }

    body::-webkit-scrollbar {
    display: none;
    }

    input.input-error {
        outline: 1px solid red;
    }
    
}


@layer components {
    .bg-camera {
        background-image: url('https://eat.surgo.dev/imgs/camera.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
